@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

h1 {
  @apply text-3xl mb-4 font-sans;
}
h2 {
  @apply text-2xl mb-4 font-sans font-bold;
}
h3 {
  @apply text-xl mb-4 font-sans text-primaryAccent;
}
h4 {
  @apply text-lg mb-4 font-sans;
}
h5 {
  @apply text-base mb-4 font-bold font-sans;
}
h6 {
  @apply mb-4 font-sans italic;
}
p {
  @apply mb-4 font-sans font-thin;
}
a {
  @apply text-primaryLight hover:text-primaryAccent;
}
button {
  @apply mx-auto px-6 py-2 bg-primaryAccent hover:bg-secondaryDark text-white rounded-lg;
}

}

.btn-carousel {
  @apply bg-tertiaryAccent hover:bg-secondaryDark text-white border border-tertiaryAccent rounded-lg px-2 py-4 capitalize
}

.site-container {
@apply container mx-auto px-0;

}

.theme-dark {
@apply bg-primaryDark text-white;
}

.theme-dark-2 {
@apply bg-secondaryDark text-white;
}

.theme-light {
@apply bg-primaryLight text-black;
}


/* HAMBURGER MENU */

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  @apply bg-orange-600;
  content: '';
  position: absolute;
  width: 24px;
  height: 3px;
  top: 0;
  left: 0;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

